body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-weight: 900;
  letter-spacing: 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a,
a:active {
  color: white;
  text-decoration: none;
}
