html {
  height: 100%;
  overflow: hidden;
  position: fixed;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a,
a:active {
  color: white;
  text-decoration: none;
}
